@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"), url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  font-display: swap;
  src: url("../fonts/SpaceGrotesk-Medium.woff") format("woff"), url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  font-display: swap;
  src: url("../fonts/SpaceGrotesk-Regular.woff") format("woff"), url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body * {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background-color: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  position: relative;
  width: 100%;
  color: #676767;
  font-size: 16px;
  font-family: 'Helvetica';
  background-color: #fff;
}

a {
  outline: none;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

.hidden {
  visibility: hidden;
}

img {
  width: 100%;
  height: auto;
}

picture {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.btn-reset {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  display: inline-block;
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  color: #fff;
  margin: 96px 0px 48px;
}

.title span {
  display: inline;
  line-height: 115%;
  background-color: #1f20fd;
  -webkit-box-shadow: 0 0 0 #1f20fd, 0 0 0 #1f20fd;
          box-shadow: 0 0 0 #1f20fd, 0 0 0 #1f20fd;
}

.screen1__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.screen1__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 33px;
}

.screen1__item:nth-child(3),
.screen1__item:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.screen1__item:nth-child(3) .item-screen__content::before,
.screen1__item:nth-child(4) .item-screen__content::before {
  left: 0;
}

.screen1__item:nth-child(3) .item-screen__images,
.screen1__item:nth-child(4) .item-screen__images {
  margin-right: 0;
  margin-left: 32px;
}

.item-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-screen__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 294px;
          flex: 0 0 294px;
  max-width: 294px;
  margin-right: 32px;
}

.item-screen__images_1 {
  border: 1px solid #fff;
  border-radius: 150px 0 0 0;
  overflow: hidden;
}

.item-screen__images_2 {
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.item-screen__images_3 {
  border: 1px solid #fff;
  border-radius: 0 150px 0 0;
  overflow: hidden;
}

.item-screen__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 293px;
          flex: 0 0 293px;
  position: relative;
}

.item-screen__content::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 111%;
  height: 1px;
  background: #c6c6c6;
}

.content-item__name {
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  margin: 28px 0 13px;
}

.content-item__specialty {
  font-size: 16px;
  margin-bottom: 38px;
}

.content-item__time {
  display: inline-block;
  font-family: "HelveticaNeueBold";
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.content-item__text {
  font-size: 16px;
  line-height: 170%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

.screen2 {
  margin-bottom: 100px;
}

.screen2__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.screen2__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  background-color: #f4f4f4;
}

.item-form {
  background-color: inherit;
}

.item-form__terms {
  margin-bottom: 71px;
}

.item-form__form {
  margin-bottom: 88px;
}

.terms__start,
.terms__remained {
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
}

.terms__start span,
.terms__remained span {
  font-size: 16px;
  line-height: 170%;
  color: #676767;
  margin-left: 10px;
  text-transform: initial;
}

.terms__start {
  margin-bottom: 27px;
}

.terms__remained {
  margin-bottom: 50px;
}

.terms__text {
  font-size: 24px;
  line-height: 170%;
  letter-spacing: 0.2px;
  color: #676767;
}

.input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 23px;
}

.input:nth-child(3) {
  margin-bottom: 30px;
}

.input input {
  width: 100%;
  height: 40px;
  border: none;
  padding-bottom: 10px;
}

.input input::-webkit-input-placeholder {
  font-size: 16px;
}

.input input::-moz-placeholder {
  font-size: 16px;
}

.input input:-ms-input-placeholder {
  font-size: 16px;
}

.input input::-ms-input-placeholder {
  font-size: 16px;
}

.input input::placeholder {
  font-size: 16px;
}

.btn {
  font-family: "SpaceGrotesk";
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 2px solid #000;
}

.item-price {
  padding: 48px 0 0 48px;
}

.item-price__label {
  display: block;
  font-size: 16px;
  line-height: 170%;
  margin-bottom: 36px;
}

.item-price__block {
  margin-bottom: 48px;
}

.item-price__discount {
  padding-bottom: 32px;
}

.item-price__discount p {
  display: block;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 5px;
}

.item-price__discount span {
  font-size: 24px;
  line-height: 170%;
  letter-spacing: 0.5px;
  text-decoration: line-through;
}

.block-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-price_price {
  margin-right: 45px;
}

.block-price_price span {
  display: block;
  font-size: 52px;
  line-height: 100%;
  color: #000;
  margin-bottom: 13px;
}

.block-price_price p {
  font-size: 24px;
  line-height: 170%;
  color: #000;
}

.block-price__sale {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #fef653;
}

.block-price__sale span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "SpaceGrotesk";
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000;
  padding: 0 0 0 24px;
  margin-top: 8px;
}

.block-price__sale p {
  font-size: 14px;
  line-height: 140%;
  color: #676767;
  padding: 7px 20px 15px 24px;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 50px;
    margin: 76px 0px 48px;
  }

  .screen1__item {
    width: calc(100% - 30px);
    margin-bottom: 33px;
  }

  .screen1__item:nth-child(3),
  .screen1__item:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .screen1__item:nth-child(3) .item-screen__content::before,
  .screen1__item:nth-child(4) .item-screen__content::before {
    left: auto;
    right: 0;
  }

  .screen1__item:nth-child(3) .item-screen__images,
  .screen1__item:nth-child(4) .item-screen__images {
    margin-right: 32px;
    margin-left: 0;
  }

  .item-screen__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .item-screen__content::before {
    width: 105%;
  }
}

@media screen and (max-width: 992px) {
  .item-screen__images {
    max-width: 343px;
    margin-right: 23px;
  }

  .item-form__form {
    width: 46%;
    margin: 0 15px 0 auto;
  }

  .terms__start,
  .terms__remained {
    font-size: 18px;
  }

  .terms__start span,
  .terms__remained span {
    font-size: 14px;
  }

  .terms__start {
    margin-bottom: 16px;
  }

  .terms__remained {
    margin-bottom: 32px;
  }

  .terms__text {
    font-size: 16px;
  }

  .input input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .input input::-moz-placeholder {
    font-size: 14px;
  }

  .input input:-ms-input-placeholder {
    font-size: 14px;
  }

  .input input::-ms-input-placeholder {
    font-size: 14px;
  }

  .input input::placeholder {
    font-size: 14px;
  }

  .btn {
    font-size: 20px;
  }

  .item-price {
    padding: 32px 0 0 16px;
    margin-bottom: 32px;
  }

  .item-price__label {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .item-price__block {
    margin-bottom: 24px;
  }

  .item-price__discount p {
    font-size: 10px;
  }

  .item-price__discount span {
    font-size: 16px;
  }

  .block-price_price {
    margin-right: 18px;
  }

  .block-price_price span {
    font-size: 32px;
  }

  .block-price_price p {
    font-size: 16px;
  }

  .block-price__sale span {
    font-size: 16px;
  }

  .block-price__sale p {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .title {
    font-size: 36px;
    margin: 76px 0px 34px;
  }

  .item-screen__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .item-screen__content::before {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .title {
    font-size: 30px;
  }

  .screen1__item {
    width: calc(100% - 30px);
    margin-bottom: 33px;
  }

  .screen1__item:nth-child(3),
  .screen1__item:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .screen1__item:nth-child(3) .item-screen__content::before,
  .screen1__item:nth-child(4) .item-screen__content::before {
    left: auto;
    right: 0;
  }

  .screen1__item:nth-child(3) .item-screen__images,
  .screen1__item:nth-child(4) .item-screen__images {
    margin: 0 auto;
  }

  .item-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-screen__images {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 auto;
  }

  .content-item__text {
    padding-bottom: 16px;
  }

  .screen2__item {
    width: calc(100% - 30px);
  }

  .item-form__terms {
    margin-bottom: 32px;
  }

  .item-form__form {
    width: 100%;
    margin: 0 15px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 560px){

@supports (-webkit-appearance:none){

}

}
